<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= @name %>입니다.</h1>
	<h1><%= @name %>입니다.</h1>
	<h1><%= @name %>입니다.</h1>
	<h1><%= @name %>입니다.</h1>
	<h1><%= @name %>입니다.</h1>

	<p>빠잉</p>
	<p>빠잉</p>
	<p>빠잉</p>
	<p>빠잉</p>
	<p>빠잉</p>
</body>
</html>